
.group        { 
	position:relative; 
	margin-bottom:45px; 
  }
	#custom         {
	color: rgb(239, 229, 229);
	background-color: #f2eded00;
	font-size:18px;
	padding:10px 10px 10px 5px;
	display:block;
	width:800px;
	border:none;
	border-bottom:1px solid #cac3c3;
  }
  #custom:focus     { outline:none; }
  
  /* LABEL ======================================= */
  label          {
	color:rgb(247, 238, 238); 
	font-size:18px;
	font-weight:normal;
	position:absolute;
	pointer-events:none;
	left:5px;
	top:10px;
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
  }
  
  /* active state */
  #custom:focus ~ label, #custom:valid ~ label    {
	top:-20px;
	font-size:14px;
	color:#eff0f3;
  }
  
  /* BOTTOM BARS ================================= */
  .bar  { position:relative; display:block; width:800px; }
  .bar:before, .bar:after   {
	content:'';
	height:2px; 
	width: 0px;;
	bottom:1px; 
	position:absolute;
	background:#000000; 
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
  }
  .bar:before {
	left:50%;
  }
  .bar:after {
	right:50%; 
  }
  
  /* active state */
  #custom:focus ~ .bar:before, #custom:focus ~ .bar:after {
	width:50%;
  }
  
  
  
  /* active state */
  #la:focus ~ .highlight {
	-webkit-animation:inputHighlighter 0.3s ease;
	-moz-animation:inputHighlighter 0.3s ease;
	animation:inputHighlighter 0.3s ease;
  }
  