:root {
    --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
    --gray: #34495e;
    --darkgray: #2c3e50;
  }
  
  select {
    outline: 0;
    border: 0;
    color: #fff;
    background-color: var(--darkgray);
    background-image: none;
    text-align: center;
}
   
