body{
    font-family: 'Roboto', sans-serif;
}
.nav-link{
	color: black;
    font-family: 'Roboto', sans-serif;
}
.nav-link:hover{
	color: black;
	text-decoration: underline;
}
nav{
	background-color:aliceblue;
    font-family: 'Roboto', sans-serif;
}
#titre{
	text-align: center;
	font-size:3em;
    font-family: 'Roboto', sans-serif;
}
#colD{
	background-color: rgb(0, 0, 0);
  	color: rgb(124, 109, 109);
}
footer{
	background-color: rgba(27, 31, 36, 0.733);
}
#lien{
	color: black;
    font-family: 'Roboto', sans-serif;
}
#lien:hover{
	color: black;
}
#lienD{
	text-align:right;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
}
#lienG{
    color:aliceblue;
    font-family: 'Roboto', sans-serif;
}
#et{
	text-align: center;
	color:aliceblue;
    font-family: 'Roboto', sans-serif;
}
#fond{
    background-image: url("images/Silhouette_d\'alpiniste.webp");
    background-attachment:fixed;
	background-color: rgb(0, 0, 0);
}
#fond2{
    background-image: url("images/IMG-4626\ \(2\).jpg");
    background-attachment:fixed;
	background-color: rgb(0, 0, 0);
}
#fond3{
    background-image: url("images/IMG-4626\ \(3\).jpg");
    background-attachment:fixed;
	background-color: rgb(0, 0, 0);
}
#fond4{
    background-image: url("images/IMG-4626\ \(1\).jpg");
    background-attachment:fixed;
	background-color: rgb(0, 0, 0);
}
#amis{
	text-align: left;
}
#ecrivez{
	margin-left: 2.8cm;
	font-size: larger;
    font-family: 'Roboto', sans-serif;
}
#mot1{
	text-align: center;
	font-size: larger;
    font-family: 'Roboto', sans-serif;
}
#envoyer{
	text-align: right;
	margin-right: 1.5cm;
}
#profil{
	background-color: rgba(127, 129, 129, 0.401);
	margin-right: 1cm;
}
#pp{
	margin-left: 0.1cm;
}
#connect{
	margin-left: 3.5cm;
}
p{
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
}
#com{
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
}
#liste{
    color: aliceblue;
}
#mini-titre{
	font-size: 1.5em;
	text-decoration: underline;
}
#annonces{
	text-decoration: aqua;
}

